.dialog {
  position: fixed;
  width: calc(100% - 20px);
  left: 10px;
  top: 12vh;
  min-height: 300px;
  z-index: 2000;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.dialog_header {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 0 15px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.dialog_contents {
  padding: 0 15px 15px;
  flex: 1;
}

.dialog_footer {
  padding: 15px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: flex-end;
}

.dialog_overlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  will-change: opacity;
  transition: opacity 250ms;
  background-color: #000;
  z-index: 1000;
}

.dialog_overlay-open {
  opacity: 0.8;
  pointer-events: all;
}

.inputDialog_buttonGroup {
  margin: 0.4rem 0 1.25rem;
  width: 100%;
}

.dialog_footer .button {
  margin: 0 5px;
}

.dialog_footer .button:last-child {
  margin-right: 0;
}

.dialog_formRow {
  margin-bottom: 25px;
}

.dialog_explanation {
  font-style: italic;
  margin: 20px 0 10px;
  line-height: 1.45;
  font-size: 0.875rem;
  color: #555;
}

@media (min-width: 650px) {
  .dialog {
    width: 440px;
    left: calc(50% - 220px);
  }
}
