.historicalSuccess {
  margin: 30px 10px;
}

.calculator_formRow {
  margin-bottom: 34px;
}

.calculator-input {
}

.calculator_sectionHeader {
  color: #676767;
  font-weight: 500;
  font-size: 1rem;
  display: inline-block;
  margin: 0 0 8px;
  padding: 0;
}

.calculator_results {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #ddd;
  padding: 30px 10px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.035);
  background: #fff;
  border-radius: 0;
  transform: translateY(87%);
  will-change: transform;
  transition: transform 250ms ease-in-out, border-radius 250ms ease-in-out;
}

.calculator_results-open {
  transform: translateY(10%);
  border-radius: 10px 10px 0 0;
  border-top-color: transparent;
}

.calculator_resultsToggle {
  display: block;
  border-radius: 6px;
  height: 6px;
  width: 15%;
  left: 42.5%;
  position: absolute;
  top: 5px;
  background-color: #e5e5e5;
}

.calculator_resultsOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  transition: opacity 250ms ease-in-out;
}

.calculator_resultsOverlay-open {
  opacity: 1;
  pointer-events: all;
}

.calculator_resultsText {
  text-align: center;
  display: block;
}
