.historicalSuccess {
  grid-area: workspace;
  margin: 30px 0;
  padding-bottom: 3.125rem;
}

.calculator_form {
  -webkit-tap-highlight-color: transparent;
}

.calculator_formRow {
  margin-bottom: 1.5625rem;
  border-bottom: 1px solid #ebebeb;
  padding: 0 0.9375rem 0.625rem;
}

.calculator_formRow:last-child {
  border-bottom-width: 0;
}

.calculator_sectionHeader {
  color: #222;
  font-weight: 700;
  font-size: 0.87rem;
  display: inline-block;
  margin: 0 0 5px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 650px) {
  .calculator_form {
    max-width: 38.75rem;
    margin: 0 auto;
    border: 1px solid #ebebeb;
    border-radius: 10px 10px 0 0;
  }

  .calculator_formRow {
    position: relative;
    padding: 20px 0;
    margin: 0;
  }

  .calculator_sectionHeader {
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .displayValue_container {
    flex: 1;
    justify-content: center;
  }
}
