.input_container {
  display: flex;
  justify-content: center;
}

.input_pill {
  position: relative;
  border-width: 0;
  color: #222;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
}

.input_pill-withDetail {
  padding-bottom: 0;
}

.input_pill-withDetail .input_pillValue {
  padding-bottom: 18px;
}

.input_detailContainer {
  display: flex;
  justify-content: center;
}

.input_pillDetail {
  padding: 7px 20px;
  background-color: #fcf3ff;
  color: #a865bf;
  font-size: 0.9rem;
  border-radius: 20px;
}

.input_pillValue {
  display: inline-block;
  font-size: 1.65rem;
  font-weight: bold;
}

.input_pillUnit {
  font-size: 1.1rem;
  font-weight: normal;
}

.input_emoji {
  font-size: 1.2rem;
}

.labelContainer {
  margin-bottom: 10px;
}

.label {
  font-weight: 700;
  font-size: 0.9rem;
}

.input {
  font-size: 1rem;
  border: 1px solid #dadada;
  /* background-color: #f1f1f1; */
  /* border: none; */
  border-radius: 7px;
  box-shadow: 0;
  -webkit-appearance: none;
  padding: 0.6rem 0.7rem;
  width: 100%;
  outline: none;
}

.input:focus {
  border-color: #a865bf;
  box-shadow: 0 0 5px #eac9f5;
}
