.calculator_results {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #ebebeb;
  padding: 20px 10px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.035);
  background: #fff;
  border-radius: 0;
  transform: translateY(87%);
  will-change: transform;
  transition: transform 350ms cubic-bezier(0.175, 0.885, 0.32, 1.05),
    border-radius 100ms ease-in-out;
}

.calculator_results-open {
  transform: translateY(10%);
  border-radius: 20px 20px 0 0;
  border-top-color: transparent;
}

.calculator_resultsToggle {
  display: block;
  border-radius: 6px;
  height: 6px;
  width: 20%;
  left: 40%;
  position: absolute;
  top: 7px;
  background-color: #e5e5e5;
  opacity: 0;
  will-change: opacity;
  transition: opacity 200ms ease-in-out;
  pointer-events: none;
}

.calculator_results-open .calculator_resultsToggle {
  opacity: 1;
  pointer-events: all;
}

.calculator_resultsOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  transition: opacity 250ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.calculator_resultsOverlay-open {
  opacity: 0.8;
  pointer-events: all;
}

.calculator_resultsText {
  position: relative;
  text-align: center;
  display: block;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  pointer-events: none;
  font-size: 0.9rem;
  will-change: opacity;
  transition: opacity 140ms ease-in-out;
  color: #222;
  margin-top: 20px;
  padding-bottom: 30px;
}

.calculator_resultsText:after {
  content: '';
  display: block;
  position: absolute;
  width: 84%;
  left: 8%;
  bottom: 0;
  border-bottom: 1px solid #ddd;
}

.calculator_results-open .calculator_resultsText {
  opacity: 1;
  pointer-events: all;
}

.calculator_resultsPercentage {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 7px 0;
  color: #9f35eb;
  background: -webkit-linear-gradient(-60deg, #ff00eb 0%, #6300ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.calculator_buttonContainer {
  position: absolute;
  top: 20px;
  right: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.calculator_viewResultsBtn {
  background-image: linear-gradient(-134deg, #2262e5 0%, #d965ec 100%);
  box-shadow: 0 8px 6px -7px rgba(146, 70, 255, 0.4);
  border: 0px;
  border-radius: 22.5px;
  padding: 10px 50px;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  display: block;
  outline: none;
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  will-change: opacity;
  transition: opacity 80ms ease-in-out 0ms;
}

.calculator_results-open .calculator_viewResultsBtn {
  opacity: 0;
  pointer-events: none;
  transition: opacity 80ms ease-in-out 0ms;
}

.calculator_viewResultsBtn:focus {
  box-shadow: 0 0 0 3px rgba(146, 70, 255, 0.4);
}

.results_segment {
  margin: 0 auto;
  padding: 20px 15px;
  border-bottom: 1px solid #dfdfdf;
  max-width: 90%;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.results_description {
  margin-bottom: 10px;
}

.results_moreInfo {
  font-size: 0.9rem;
  font-style: italic;
  color: #808080;
}
