.largeScreenResults {
  display: none;
  max-width: 620px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #ebebeb;
  border-top-width: 0;
  border-radius: 0 0 10px 10px;
  background-color: #fbfbfb;
}

.largeScreenResults_viewMoreButton {
  margin: 15px auto 0;
}

.largeScreenResults .calculator_resultsPercentage {
  font-size: 2rem;
}

.largeScreenResults_summary {
  font-size: 0.875rem;
}

.resultsDialog .results_segment {
  opacity: 1;
}

.resultsDialog .results_segment:last-child {
  border-bottom: 0;
}

@media (min-width: 650px) {
  .largeScreenResults {
    display: block;
  }
}
