.additionalAdjustment {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  border: 1px solid #3f3f3f;
  border-radius: 0.3rem;
  padding: 0.65rem 1rem;
  background: #ffffff09;
  margin-bottom: 0.75rem;
  outline: none;
  color: white;
  text-align: left;
}

.additionalAdjustment.focus-visible,
.additionalAdjustment:hover {
  border-color: var(--accentColor);
}

.additionalAdjustment_title {
  margin-bottom: 0.4rem;
}

.additionalAdjustment_value {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.additionalAdjustment_inflationAdjusted {
  margin-bottom: 0.4rem;
  opacity: 0.65;
  font-style: italic;
}

.additionalAdjustment_frequency {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
