.buttonGroup {
  display: flex;
}

.buttonGroup-centered {
  justify-content: center;
}

.button {
  background-color: transparent;
  border: 1px solid #a865bf;
  border-radius: 0.25rem;
  color: #a865bf;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  outline: none;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.6;
}

.button.focus-visible,
.button:hover {
  background-color: var(--accentColor);
}

.button.focus-visible {
  box-shadow: 0 0 0 2px #fff;
}

.button-primary,
.button-selected {
  background-color: var(--accentColor);
  border: 0;
  color: #fff;
}

.button-selected.focus-visible,
.button-primary.focus-visible {
  box-shadow: 0 0 0 2px #fff;
}

.button-primary:hover,
.button-selected:hover {
  background-color: var(--accentColor);
}

.buttonGroup .button {
  border-left-width: 0;
  margin: 0 !important;
  border-radius: 0;
}

.buttonGroup .button:first-child {
  border-left-width: 1px;
}

.buttonGroup .button:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.buttonGroup .button:last-child {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
