.button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: var(--accentColor);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: white;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  outline: none;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.button-transparent {
  background: transparent;
}

.button-small {
  font-size: 0.825rem;
}

.button-micro {
  font-size: 0.8125rem;
}

.button-secondary {
  background: #2c2c2c;
}

.button:disabled {
  opacity: 0.6;
}

.button:hover {
  background-color: #7763ff;
}

.button:active {
  background-color: #634dff;
}

.button-secondary:hover {
  background-color: #2f2f2f;
}

.button-secondary:active {
  background-color: #282828;
}

.button.focus-visible {
  box-shadow: 0 0 0 2px #fff;
}
