.displayValue_container {
  display: flex;
  justify-content: center;
}

.displayValue_pill {
  position: relative;
  border-width: 0;
  color: #222;
  display: inline-block;
  text-align: center;
  padding: 20px;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  border-radius: 8px;
  outline: none;
  border: 1px solid transparent;
}

.displayValue_entry {
  padding-bottom: 4px;
  border-bottom: 1px dashed #999;
}

.displayValue_pill:focus {
  border-color: #3097ff;
  box-shadow: 0 0 8px 0 rgba(48, 151, 255, 0.35);
}

.displayValue_detailContainer {
  display: flex;
  justify-content: center;
}

.displayValue_pillDetail {
  padding: 7px 20px;
  background-color: #fcf3ff;
  color: #9551ad;
  font-size: 0.9rem;
  border-radius: 20px;
}

.displayValue_pillValue {
  display: inline-block;
  font-size: 1.65rem;
  font-weight: bold;
  padding-bottom: 18px;
}

.displayValue_pillUnit {
  font-size: 1.1rem;
  font-weight: normal;
}

.displayValue_emoji {
  font-size: 1.2rem;
}
