:root {
  --mt-checkbox-focusColor: #444;
}

.formRow {
  margin-bottom: 0.75rem;
}

@media (max-width: 551px) {
  .formRow {
    margin-bottom: 1rem;
  }
}

.formRow_title {
  font-size: 0.9375rem;
  font-weight: 500;
  margin: 0;
}

.formRow-extraSpace {
  margin: 1rem 0;
}

.formRow-indented {
  margin-left: 1rem;
}

.formRow-flex {
  display: flex;
  align-items: center;
}

.formRow:last-child {
  margin-bottom: 0;
}

.formRow .select {
  width: 100%;
}

.form_blockSection .sidebarSection_contentsWrapper {
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.formRow_block {
  border: 1px solid #3f3f3f;
  border-radius: 0.45rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.035);
  margin-bottom: 1rem;
}

.input:focus {
  border-color: var(--accentColor);
  box-shadow: 0 0 0 2px var(--accentColor);
}

.input:disabled {
  opacity: 0.5;
  background: #393939;
  border-color: #4c4c4c;
  color: #888;
}

.inputLabel_container {
  display: flex;
  align-items: center;
  margin-bottom: 0.35rem;
}

.inputLabel {
  display: block;
  color: #dfe0df;
  font-size: 0.875rem;
  flex-grow: 0;
  line-height: 1.35;
}

.inputLabel-disabled {
  opacity: 0.5;
}

.checkbox_label {
  font-size: 0.875rem;
}

@media (max-width: 551px) {
  .inputLabel {
    font-size: 0.9375rem;
  }
}

.inputLabel-inline {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0;
}

.checkbox + .checkbox_label {
  margin-left: 0.35rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.checkbox_label {
  user-select: none;
}

.helpIcon {
  background: transparent;
  border: 0;
  fill: #888;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  transition: opacity 90ms ease-out;
  padding: 0.1rem 0.25rem;
  margin-left: 0.25rem;
}

.helpIcon.focus-visible {
  opacity: 1;
}

.helpIcon:hover {
  fill: #999;
}

.helpIcon:focus {
  fill: var(--accentColor);
}

.formRow:hover .helpIcon {
  opacity: 1;
  pointer-events: all;
}

.formRow_separator {
  border-bottom: 1px solid #444;
  margin-bottom: 0.75rem;
}

@media (hover: none) {
  .helpIcon {
    opacity: 1;
    pointer-events: all;
  }
}

.formRow_checkboxInputContainer {
  display: flex;
  align-items: center;
}

.formRow_checkboxInputContainer .checkbox {
  margin-right: 0.5rem;
}

.formRow_message {
  line-height: 1.6;
  color: #ccc;
}
