/* .labelContainer {
  margin-bottom: 10px;
}

.label {
  font-weight: 700;
  font-size: 0.9rem;
}

.input {
  font-size: 1rem;
  border: 1px solid #dadada;
  border-radius: 7px;
  box-shadow: 0;
  -webkit-appearance: none;
  padding: 0.6rem 0.7rem;
  width: 100%;
  outline: none;
}

.input:hover {
  border-color: #c9a3d6;
}

.input:focus {
  border-color: #a865bf;
  box-shadow: 0 0 5px #eac9f5;
}

.input_error {
  border-color: #f51515;
}

.input_error:focus {
  border-color: #f51515;
  box-shadow: 0 0 5px #ffa5a5;
}

.calculator-errorMsg {
  color: #f51515;
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.checkbox_label {
  font-size: 0.9rem;
}

.checkbox_container {
  display: inline-flex;
  align-items: center;
}

.checkbox_container .checkbox {
  margin-right: 9px;
}

.mt-checkbox_focus {
  position: absolute;
  top: -0.15em;
  left: -0.15em;
  right: -0.15em;
  bottom: -0.15em;
  z-index: -1;
  border-radius: 15%;
  pointer-events: none;
  overflow: hidden;
}

.input_group {
  display: flex;
}

.input_extra {
  font-size: 1rem;
  padding: 0.6rem 0.7rem;
  color: #606060;
  background-color: #eee;
  border: 1px solid #dadada;
  border-right: 0;
  -webkit-font-smoothing: antialiased;
}

.input_group > .input_extra:first-child {
  border-radius: 7px 0 0 7px;
}

.input_group > .input_extra + .input {
  border-radius: 0 7px 7px 0;
} */
