:root {
  --fontColor: #fff;
  --chartBg: #141414;
  /* rgb: 105, 84, 255 */
  --accentColor: #6954ff;
  --mt-mainColor: var(--accentColor);
  --maxAppWidth: 64rem;
  --headerHeight: 3.125rem;
  --appHeader-height: 3.5rem;
  --sidebar-width: 17rem;

  --horizontalContentPadding: 1.375rem;
}
