.configuration {
  --resultsBtnHeight: 5rem;
  --borderColor: #424242;

  max-height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: scroll;
  background: #2d2e30;
  color: white;
  flex: 0 0 var(--configuration-width);
  width: var(--configuration-width);
  padding-left: var(--safeAreaInsetLeft);
}

.configuration_title {
  padding: 0 var(--horizontalContentPadding) 1rem;
  border-bottom: 1px solid var(--borderColor);
  font-size: 1.1rem;
  margin: 1rem 0 0;
  color: #f5f5f5;
  letter-spacing: 0.5px;
}

@media (max-width: 551px) {
  .configuration {
    --borderColor: #333;

    background: transparent;
    position: static;
    padding-top: var(--navHeight);
    width: auto;
    overflow: auto;
    top: auto;
    flex: none;
    max-height: none;
    padding-bottom: calc(var(--resultsBtnHeight) + 1rem);
  }

  .configuration_title {
    font-size: 1.75rem;
    font-weight: 900;
  }
}

.configuration_viewResults {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--resultsBtnHeight) + var(--safeAreaInsetBottom));
  padding-bottom: var(--safeAreaInsetBottom);
  z-index: 100;
  background: #2b2b2b;
  border-top: 1px solid #393939;
}

.configuration_viewResults .button {
  font-size: 0.9375rem;
  padding: 0.75rem 3.5rem;
  max-width: 90%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.configuration_viewResults .button svg {
  display: block;
  margin-right: 5px;
}
