.configSection {
  border-bottom: 1px solid var(--borderColor);
}

.configSection:last-child {
  border-bottom: 0;
}

.configSection_title {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #dfdfdf;
  margin: 0;
  padding: 1rem var(--horizontalContentPadding) 0;
}

.configSection_body {
  font-size: 0.875rem;
  padding: 1rem var(--horizontalContentPadding);
}

@media (max-width: 551px) {
  .configSection_body {
    font-size: 0.9375rem;
  }
}

.configSection_block {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--borderColor);
  margin-bottom: 1rem;
}

.configSection_block:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
