.byYear_cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border-radius: 4px;
  padding: 0.5rem;
  font-weight: 500;
  border: 1px solid transparent;
  cursor: pointer;
}

.byYear_cell:hover {
  background-color: #3a3a3a;
}

.byYear_cell-isFailed {
  background-color: #ca1010;
}

.byYear_cell-isFailed:hover {
  background-color: #e01d1d;
}

.byYear_cell-isWarning {
  background-color: #bb6f00;
}

.byYear_cell-isWarning:hover {
  background-color: #c77906;
}

.byYear_cell-incomplete {
  background-color: transparent;
  border-color: #444;
  opacity: 0.5;
}

.results_byYearGrid {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(auto-fit, 5rem);
}
