.valueInput {
  position: relative;
  display: inline-block;
}

.valueInput_unit {
  position: absolute;
  right: 0.6rem;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #9e9e9e;
  pointer-events: none;
  user-select: none;
}

.valueInput-suffixed > .input {
  padding-right: 1.45rem;
}

.valueInput-prefixed > .input {
  padding-left: 1.45rem;
}

.valueInput-prefixed .valueInput_unit {
  right: auto;
  left: 0.6rem;
}

.valueInput_lockedContainer {
  display: flex;
  align-items: center;
}

.valueInput_pairContainer .valueInput {
  margin-right: 0.5rem;
}

.valueInput_pairContainer .valueInput:last-child {
  margin-right: 0;
}
